<div class="container-fluid">
  <div class="row">
    <h3 >Course: </h3>
    <select class="custom-select">
        <option selected>Select course</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>       
  </div>
  <div class="row">
  <table class="table">
      <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">White</th>
            <th scope="col">Yellow</th>
            <th scope="col">Red</th>
            <th scope="col">Par</th>
            <th scope="col">SI</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sc of holes, let n=index">
          <th scope="row">{{n+1}}</th>
          <td><input type="text" [(ngModel)]="holes[n].whiteDist"/></td>
          <td ><input type="text" [(ngModel)]="holes[n].yellowDist"/></td>
          <td ><input type="text" [(ngModel)]="holes[n].redDist"/></td>
          <td ><input type="text" [(ngModel)]="holes[n].par"/></td>
          <td ><input type="text" [(ngModel)]="holes[n].si"/></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{coursePar()}}</td>
          <td></td>
        </tr>   
      </tbody>
    </table>
  </div>

</div>